.scene {
    -fx-background-color: #f4f4f4;
    -fx-font-family: 'Garamond', serif;
    -fx-font-size: 18px;
    
}

.grid-pane, .vbox, .hbox {
    -fx-padding: 20px;
    -fx-vgap: 20px;
    -fx-hgap: 20px;
    -fx-background-color: #ffffff;
    -fx-border-color: #d2d2d2;
    -fx-border-width: 1px;
}

.label {
    -fx-font-family: 'Garamond', serif;
    -fx-text-fill: #333333;
    -fx-font-size: 18px;
}

.text-field, .password-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-text-fill: #333333;
    -fx-font-family: 'Garamond', serif;
}

.radio-button {
    -fx-text-fill: #333333;
    -fx-mark-color: #4CAF50;
}

.choice-box, .text-area, .spinner {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-text-fill: #333333;
    -fx-font-family: 'Garamond', serif;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-font-family: 'Garamond', serif;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0);
    -fx-padding: 6px 12px;
}

.button:hover {
    -fx-background-color: #367c39;
}

.tab-pane {
    -fx-background-color: #f0f0f0;
    -fx-padding: 20px;
    -fx-border-color: #d2d2d2;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

.tab {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-font-family: 'Garamond', serif;
    -fx-padding: 10px 20px;
    -fx-border-color: #d2d2d2;
    -fx-border-width: 1px;
    -fx-border-radius: 10px 10px 0 0;
}

.tab:selected {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #ffffff;
    -fx-border-color: #4CAF50;
    -fx-border-width: 1px;
    -fx-border-radius: 10px 10px 0 0;
}

.vbox {
    -fx-alignment: center;
    -fx-spacing: 20px;
}

.hbox {
    -fx-alignment: center-left;
    -fx-spacing: 20px;
}


.list-view {
    -fx-background-color: #90EE90; 
    -fx-border-color: #cccccc;
}

.list-cell {
    -fx-text-fill: #333333;
    -fx-font-family: 'Garamond', serif;
}
